* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    font-weight: 300;
}

:root {
    --clr-1: #052b2f;
    --clr-2: #073438;
    --clr-3: #0e4b50;
    --clr-4: #2d8f85;
    --clr-5: #637c54;
    --bg-color: #fff;
}

.color-primary {
    color: #0ef;
}

.color-dogderblue {
    color: dodgerblue;
}

.color-gold {
    color: gold;
}

.color-gray {
    color: #333;
}

.color-red {
    color: crimson;
}

.color-white {
    color: #fff;
}

body {
    min-height: 100vh;
    background: #ececec;
}

.auth p {
    text-align: center;
    margin-top: 1em;
    font-size: 1.em;
    font-weight: 500;
    color: #333;
}

.auth .btnClose {
    width: 100%;
    height: 45px;
    margin-top: 10px;
    border: 2px solid #000;
    border-radius: 10px;
    outline: none;
    cursor: pointer;
    font-size: 1.5em;
    color: #333;
    font-weight: 500;
    background-color: #fff;
}

.auth .btnClose:hover {
    background-color: gold;
    border-radius: 10px;
    transition: 1.5s;
}

.auth .input-box {
    margin-top: 20px;
}

.auth-card {
    width: 300px;
    padding: 20px;
    background-color: #fff;
    border: 2px, solid #ccc;
    border-radius: 10px;
    margin: auto;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.9);
}

.auth-card h2 {
    margin-top: 10px;
    margin-bottom: -10px;
}

.bg-transparent {
    background: transparent;
}

.card {
    position: absolute;
    aspect-ratio: 1 / 1;
    width: 400px;
    padding: 20px;
    background-color: #fff;
    border: 2px, solid #ccc;
    border-radius: 25px;
    margin: auto;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    justify-content: center;
    align-items: center;
}






.container {
    position: absolute;
    width: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container .btn {
    margin-top: 10px;
}

.container span {
    position: absolute;
    z-index: -1;
    left: 0;
    width: 24px;
    height: 5px;
    background: #ececec;
    border-radius: 8px;
    transform-origin: 128px;
    transform: scale(1.75) rotate(calc(var(--i) * (360deg / 60)));
    animation: animateBlink 1.5s linear infinite;
    animation-delay: calc(var(--i) * (1.5s / 60));
}

@keyframes animateBlink {
    0% {
        background: dodgerblue;
    }

    25% {
        background: #fff;
    }
}

.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.display-center {
    display: grid;
    place-items: center;
}

.display-flex-center {
    display: flex;
    align-items: center;
    justify-content: center;
}


.login-box {
    position: absolute;
    width: 200px;
}

.login-box form {
    width: 100%;
    padding: 0 10px;
}



.input-box {
    position: relative;
    margin: 10px 0;
}

.input-box input {
    width: 100%;
    height: 45px;
    background: #fff;
    border: 2px solid #666;
    outline: none;
    border-radius: 10px;
    font-size: 1em;
    font-weight: 500;
    color: dodgerblue;
    padding: 0 20px;
    transition: 1s ease;
}

.input-box input:focus,
.input-box input:valid {
    border-color: dodgerblue
}

.input-box input:focus~label,
.input-box input:valid~label {
    top: -10px;
    font-size: .8em;
    background: #fff;
    padding: 0 6px;
    color: dodgerblue;
    transition: 1s ease;
}

.input-box label {
    position: absolute;
    top: 25%;
    left: 20px;
    transform: transparentY(-50%);
    font-size: 1.2em;
    color: #666;
    pointer-events: none;
    transition: 0.5s ease;
}




.forgot-pass {
    text-align: end;
}

.forgot-pass a {
    font-size: 1em;
    color: dodgerblue;
    text-decoration: none;
    font-weight: 500;
    margin-top: 25px;
    margin-bottom: 25px;
}

.forgot-pass a:hover {
    text-decoration: none;
    color: #333;
    transition: 1.5s;
    font-size: 1.2em;
}

.btn {
    width: 100%;
    height: 45px;
    background: dodgerblue;
    border: 2px solid #333;
    border-radius: 10px;
    outline: none;
    cursor: pointer;
    font-size: 1.2em;
    color: #fff;
    font-weight: 500;
}

.btn:hover {
    background-color: gold;
    transition: 1.5s;
    font-size: 1.2em;
    border-radius: 10px;
}


label {
    color: #333;
    font-weight: 500;
}

.login-google {
    margin-top: 10px;
    color: #333;
}

.login-google p {
    font-weight: 500;
    font-size: 14px;
}

.login-google img {
    width: 70px;
    margin-left: 10PX;
}

.login-google-btn {
    width: 250px;
    height: 40px;
    padding: 20px;
    background-color: #fff;
    border: 2px, solid #ccc;
    border-radius: 10px;
    margin: auto;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.9);
    justify-content: center;
    align-items: center;
}

.login-google-btn:hover {
    color: #333;
    background-color: gold;
    transition: 1.5s;
    font-weight: 700;
}

.modal-content {
    margin: -30px;
    width: fit-content;
    height: 100vh;
}

.signup-link {
    margin-top: 5px;
    margin: 20px 0 10 px;
    text-align: center;
}

.signup-link a {
    color: dodgerblue;
    font-size: 1.2em;
    text-decoration: none;
    font-weight: 500;
    cursor: pointer;
}

.signup-link a:hover {
    color: #333;
    font-size: 1.3em;
    transition: 1.5s;
}

.title {
    color: dodgerblue;
    font-size: 1.5em;
    text-align: center;
    font-weight: 600;
}

.title:hover {
    color: #fff;
    transition: 1.5s;
    font-size: 2em;
}

.heigth-90vh {
    height: 90vh;
    width: 350px
}

.margin-TB-20 {

    margin-bottom: 20px;
}

.index h6 {
    color: #666;
    font-size: 1.2em;
    font-weight: 500;
}

.index h6:hover {
    color: transparent;
    font-size: 2.3em;
    transition: 10s;
    text-align: center;

}